# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# amplify
frontend/.amplify
frontend/amplify_outputs*
frontend/amplifyconfiguration*

#amplify-do-not-edit-begin
frontend/amplify/\#current-cloud-backend
frontend/amplify/.config/local-*
frontend/amplify/logs
frontend/amplify/mock-data
frontend/amplify/mock-api-resources
frontend/amplify/backend/amplify-meta.json
frontend/amplify/backend/.temp
frontend/build/
frontend/dist/
frontend/node_modules/
# frontend/src/aws-exports.js
frontend/src/awsconfiguration.json
frontend/src/amplifyconfiguration.json
frontend/src/amplifyconfiguration.dart
frontend/amplify-build-config.json
frontend/amplify-gradle-config.json
frontend/amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

*config.env
*.env
